name: CI workflow for main branch

on:
  schedule:
    - cron: "40 2 * * *"
  push:
    branches:
      - 'main'
    tags:
      - v*
  workflow_dispatch:

jobs:

  continuous-integration:
    uses: ./.github/workflows/continuous-integration.yml
    secrets: inherit
    with:
      api-tests: true
      win-package-artifact: 'win-package'
